.order {
    width: 800px;
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.order button {
    border: 1px solid teal;
    background: aliceblue;
    color: teal;
    min-width: 70px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.order button:hover {
    color: aliceblue;
    background: teal;
}